html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body{
    width: 1200px;
    margin: auto;
    padding: auto;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    background-image: url('images/mainbackground.png');
    background-repeat: no-repeat;
    background-position: right top;
}

.title{
    font-size: 48px;
    line-height: 59px;
    font-weight: 400;
}

.description{
    font-size: 18px;
    line-height: 22px;
}

.text{
    font-size: 24px;
    line-height: 30px;
}

.button{
    font-size: 18px;
    line-height: 27px;
    background-color: #ECB942;
    border: 0;
    border-radius: 8px;
}

.header{
    display: flex;
    margin-top: 20px;
}

.header-logo{
    width: 231px;
}

.list{
    display: flex;
    list-style: none;
}

.item{
    display: flex;
    margin-left: 40px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.item__link{
    text-decoration: none;
    color: black;
}

.intro{
    margin-top: 180px;
}

.intro__title{
    font-size: 64px;
    line-height: 78px;
}

.intro__button{
    margin-top: 80px;
    height: 55px;
    width: 233px;
}

.intro__link{
    text-decoration: none;
    color: black;
    margin-left: 46px;
    font-size: 18px;
    line-height: 27px;
}

.purpose{
    display: flex;
    justify-content: space-evenly; 
    text-align: center;   
    margin-top: 260px;
}

.visually-hidden{
    position: fixed;
  transform: scale(0);
}

.box__title{
    font-size: 36px;
    line-height: 44px;
}

.box__description{
    margin-top: 29px;
    font-size: 18px;
    line-height: 27px;
}

.box__link{
    color: black;
    font-weight: 600;
}

.rules{
    display: flex;
    margin-top: 165px;
}

.rules__title{
    font-size: 48px;
    line-height: 58px;
    font-weight: 400;
}

.rules__text{
    margin-left: 127px;
    margin-top: 30px;
    font-weight: 600;
}

.rules__description{
    margin-top: 49px;
    margin-left: 58px;
}

.rules__button{
    height: 50px;
    width: 256px;
    margin-top: 70px;
    margin-left: 130px;
    font-weight: 400;
}

.mission{
    display: flex;
    margin-top: 140px;
}

.mission__title{
    text-align: center;
}

.partners__title{
    text-align: center;
    margin-top: 150px;
}

.partners__img{
    margin-top: 86px;
    margin-left: 60px;
}

.promo{
    background-image: url('images/decor.png');
    margin-top: 235px;
    background-repeat: no-repeat;
    background-position: center;
    height: 418px;
}

.promo__title{
    padding-top: 40px;
    color: white;
    text-align: center;
}

.promo__description{
    padding-left: 90px;
    padding-right: 90px;
    color: white;
    text-align: center;
}

.promo__button{
    height: 55px;
    width: 265px;
    margin-top: 30px;
    margin-left: 450px;
}

.footer__contacts{
    display: flex;
    justify-content: space-around;
    margin-top: 98px;
}

.phone{
    padding-left: 20px;
    padding-bottom: 10px;
    text-decoration: none;
    color: black;
    font-size: 24px;
    line-height: 29px;
}

.footer__logo{
    height: 40px;
    width: 231px;
    margin-top: 100px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}

.footer__copyright{
    text-align: center;
    margin-bottom: 65px;
    font-size: 14px;
    line-height: 18px;
}