html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body{
    max-width: 1920px;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    background-image: url('images/mainbackground.png');
    background-repeat: no-repeat;
    background-position: right top;
}

:root{
    --orange: #ECB942;
    --light-grey: rgb(255, 255, 255, 0.7);
    --gray: rgb(128, 128, 128);
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255)
}

.title{
    font-size: 48px;
    line-height: 59px;
    font-weight: 400;
}

.description{
    font-size: 18px;
    line-height: 22px;
}

.text{
    font-size: 24px;
    line-height: 30px;
}

.button{
    font-size: 18px;
    line-height: 27px;
    background-color: var(--orange);
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}

.main-container{
    width: 1200px;
    margin: auto;
    padding: auto;
}

.main-container::before{
    content: "";
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: var(--light-grey);
    background-repeat: no-repeat;
}

.main{
    max-width: 1200px;
}

.header{
    display: flex;
    align-items: center;
    height: 90px;
}

.header-logo{
    width: 231px;
}

.nav{
    padding-left: 40px;
}

.list{
    display: flex;
    list-style: none;
    padding: 0;
    gap: 40px;
}

.item{
    display: flex;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.item__link{
    text-decoration: none;
    color: var(--black);
}

.support__link{
    position: relative;
    color: var(--black);
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
}

.support__link::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: -6px;
    left: -5px;
    width: 140px;
    height: 40px;
    background-image: url(images/spot-nav.svg);
}

.intro{
    padding-top: 180px;
    display: flex;
}

.intro__description{
    display: flex;
    flex-direction: column;
    width: 580px;
}

.intro__title{
    position: relative;
    font-size: 64px;
    line-height: 78px;
    font-weight: 400;
}

.intro__title::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 40px;
    width: 242px;
    height: 32px;
    background-image: url(images/spot-intro.svg);
    background-repeat: no-repeat;
}

.intro__group{
    display: flex;
}

.group__button{
    display: flex;
    padding-top: 80px;
    gap: 20px;
}

.intro__button{
    height: 55px;
    width: 233px;
    box-shadow: 3px 3px 10px, var(--gray);
}

.second__button{
    background-color: transparent;
    height: 55px;
    width: 233px;
    background-image: url(images/pointer.svg);
    background-repeat: no-repeat;
    background-position: right 40px center;
}

.intro__link{
    text-decoration: none;
    color: var(--black);
    margin-left: 46px;
    font-size: 18px;
    line-height: 27px;
}

.intro__number{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    padding-left: 250px;
    padding-bottom: 150px;
    margin: 0;
}

.intro__number::before{
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 150px;
    background-color: var(--orange);
    width: 96px;
    height: 96px;
    border-radius: 50px;
}

.number__title{
    margin: 0;
}

.number__description{
    margin: 0;
}

.purpose{
    display: flex;
    justify-content: space-around; 
    text-align: center;   
    margin-top: 180px;
}

.visually-hidden{
    position: fixed;
  transform: scale(0);
}

.title--trees{
    position: relative;
}

.title--trees::before{
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 60px;
    left: 120px;
    height: 83px;
    width: 69px;
    background-image: url(images/Vector-plant.svg);
    background-repeat: no-repeat;
}

.title--education{
    position: relative;
}

.title--education::before{
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 60px;
    left: 120px;
    height: 66px;
    width: 81px;
    background-image: url(images/Vector-book.svg);
    background-repeat: no-repeat;
}

.description--education{
    position: relative;
}

.description--education::before{
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -50px;
    left: -40px;
    width: 405px;
    height: 245px;
    background-image: url(images/spot-purpose.svg);
    background-repeat: no-repeat;
    background-position: center;

}

.title--charity{
    position: relative;
}

.title--charity::before{
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 60px;
    left: 120px;
    height: 76px;
    width: 64px;
    background-image: url(images/Vector-earth.svg);
    background-repeat: no-repeat;
}

.box__title{
    font-size: 36px;
    line-height: 44px;
}

.box__description{
    width: 310px;
    margin-top: 29px;
    font-size: 18px;
    line-height: 27px;
}

.box__link{
    color: var(--black);
    font-weight: 600;
}

.rules{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 165px;
}

.rules__img{
    position: absolute;
    right: 40%;
}

.rules__wrap{
    display: flex;
    flex-direction: column;
    align-items: center ;
    width: 485px;
    padding-left: 60px;
}

.rules__title{
    position: relative;
    font-size: 48px;
    line-height: 58px;
    font-weight: 400;
    width: 485px;
}

.rules__title::before{
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -10px;
    right: 60px;
    width: 242px;
    height: 42px;
    background-image: url(images/spot-rules.svg);
    background-repeat: no-repeat;
}

.rules__text{
    position: relative;
    width: 357px;
    font-weight: 600;
}

.text--vector-tree::before{
    content: "";
    position: absolute;
    z-index: -1;
    left: -60px;
    width: 43px;
    height: 51px;
    background-image: url(images/Vector-small-plans.svg);
    background-repeat: no-repeat;
}

.text--vector-book::before{
    content: "";
    position: absolute;
    z-index: -1;
    left: -60px;
    bottom: 30px;
    width: 50px;
    height: 40px;
    background-image: url(images/Vector-small-book.svg);
    background-repeat: no-repeat;
}

.rules__description{
    width: 426px;
    padding-bottom: 56px;
    padding-top: 50px;
}

.rules__button{
    margin-right: 100px;
    height: 50px;
    width: 256px;
    font-weight: 400;
}

.mission{
    display: flex;
    padding-top: 140px;
    justify-content: center;
    gap: 50px;
}

.mission__title{
    position: relative;
    text-align: center;
    width: 485px;
    height: 121px;
}

.mission__title::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 30px;
    left: 20%;
    width: 242px;
    height: 40px;
    background-image: url(images/spot-mission.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.mission__description{
    height: 280px;
    width: 454px;
}

.partners__title{
    text-align: center;
    padding-top: 150px;
}

.partners__img{
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-top: 86px;
}

.partners__img::before{
    content:"";
    position: absolute;
    z-index: -1;
    bottom: -30px;
    left: 620px;
    width: 322px;
    height: 130px;
    background-image: url(images/spot-partner.svg);
    background-repeat: no-repeat;
}

.promo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('images/decor.png');
    margin-top: 235px;
    background-repeat: no-repeat;
    background-position: center;
    height: 418px;
}

.promo::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: -130px;
    width: 1490px;
    height: 541px;
    background-image: url(images/spot-promo.svg);
    background-repeat: no-repeat;
}

.promo__title{
    color: var(--white);
    text-align: center;
}

.promo__description{
    width: 939px;
    height: 84px;
    color: var(--white);
    text-align: center;
}

.promo__button{
    height: 55px;
    width: 265px;
}

.footer__description{
    display: flex;
    justify-content: space-around;
    padding-top: 97px;
}

.footer__contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__phone{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.phone{
    text-decoration: none;
    color: var(--black);
    font-size: 24px;
    line-height: 29px;
}

.footer__media{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media__link{
    text-decoration: none;
}

.footer__logo{
    height: 40px;
    width: 231px;
    margin-top: 100px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}

.footer__copyright{
    text-align: center;
    margin-bottom: 65px;
    font-size: 14px;
    line-height: 18px;
}

.nav__button{
    display: none;
}

@media (max-width:1320px) {
    .intro{
        padding-left: 30px;
        padding-right: 30px;
    }
    .header{
        padding-left: 30px;
    }
    .intro__number{
        padding-left: 200px;
    }
    
}

@media (max-width:1250px) {
    .body{
        background-size: auto;
        background-position: left top;
    }
    .intro__number{
        padding-left: 100px;
    }
    .number__description{
        width: 190px;
    }
    .main-container{
        width: auto;
    }
}

@media (max-width: 1170px) {
    .purpose{
        display: flex;
        flex-direction: column;
    }
    .box__description{
        margin: auto;
        padding: auto;
    }
    .box__title{
        font-size: 55px;
    }
    .box__description{
        font-size: 22px;
        width: 500px;
    }
    .purpose__box{
        padding-bottom: 150px;
    }
    .description--education::before{
        left: 50px;
    }
    
}

@media (max-width: 900px) {
    .header{
        justify-content: space-between;
        padding-right: 20px;
    }
    .nav__list{
        display: none;
    }
    .nav__button{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50px;
        height: 30px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .span{
        height: 4px;
        width: 100%;
        background-color: black;
    }
    .intro{
        display: flex;
        flex-direction: column-reverse;
    }
    .intro__number{
        padding-right: 100px;
        padding-top: 200px;
    }
    .intro__number::before{
        right: 100px;
    }
    .intro__title::before{
        width: 244px;
        height: 30px;
    }
}

@media (max-width: 640px) {
    .intro__description{
        padding-top: 80px;
    }
    .intro__title{
        font-size: 45px;
        line-height: 43px;
        width: 400px;
    }  
    .intro__title::before{
        top: 20px;
    }  
    .intro__text{
        font-size: 20px;
        line-height: 21px;
        width: 480px;
    }
    .number__title{
        font-size: 40px;
        line-height: 30px;
    }
    .intro__number::before{
        width: 74px;
        height: 74px;
    }
    .number__description{
        font-size: 16px;
        line-height: 15px;
    }

}

@media (max-width: 550px) {
    .intro__text{
        font-size: 14px;
        width: auto;
    }
    .intro__description{
        width: auto;
    }
    .group__button{
        width: 233px;
        display: block;
        gap: 0;
        margin: auto;
        padding-top: 33px;
    }
    .intro__button{
        width: 233px;
    }
    .second__button{
        display: none;
    }
    .number__title{
        line-height: 30px;
    }
}

@media (max-width: 460px) {
    .intro__title{
        font-size: 36px;
    }   
    .intro__number::before{
        width: 63px;
        height: 63px;
    }
    .number__title{
        width: 113px;
        font-size: 32px;
        margin: 0;
    }
    .number__description{
        width: 113px;
        font-size: 10px;
    }
    .header-img{
        width: 177px;
        height: 35px;
    }
}